<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Simple Polylines</title>
</head>

<body>
  <script src="src/map.js"></script>
  <h1>Latitude and Longitude Finder on Map Get Coordinates</h1>
  <hr>
  <h1>This a intersections</h1>
  <label>{{ intersections }}<label>

      <h1>This a maneuver</h1>
      <p>{{ maneuver }}</p>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=c186462a-599c-4a41-ad21-47f071b06f91&callback=initMap"></script>
</body>
</html>