django
mysqlclient
pydevd
django-webpack-loader
django-clamd
django-sslserver
pillow
djangorestframework
markdown
django-filter
django_select2
social-auth-app-django
firebase-admin
celery
redis
shapely
numpy
geopy
oboe